#For github just leave the main name of the dependecies
#Core dependecies
#pip install pandas
pandas
#pip install streamlit
streamlit
#pip install streamlit_searchbox
streamlit_searchbox
#pip install -U scikit-learn
scikit-learn

#Second dependecies
#Search box
#Makes a search box for title de filme
#pip install streamlit_searchbox
streamlit_searchbox
#from streamlit_searchbox import st_searchbox

#Simple carousel
#pip install streamlit-Carousel
streamlit-Carousel

#Carousel doc https://pypi.org/project/st-ant-carousel/
#pip install st-ant-carousel
st-ant-carousel
#from st_ant_carousel import st_ant_carousel

# pour installer les images dans streamlit
# pip install 
pillow
# importe la classe image depuis le module PIL (Python Imaging Library). il sert à  ouvrir et afficher des images dans l'application Streamlit.
# from PIL import Image 
PIL
# permet de gérer les fichiers et les chemins dans mon ordi. Ce module  permet d’interagir avec un système de fichiers (Windows, Mac, Linux).
# pip install os
# import os
os

